<div id="side-bar">
    <div class="logo-container"><img src="https://angular.io/assets/images/logos/angular/shield-large.svg" alt=""></div>
    <ul>
        <li><i class="fal fa-home"></i> Dashboard</li>
        <li><i class="fal fa-envelope"></i> Messages</li>
        <li><i class="fal fa-comments-alt"></i> Chat</li>
        <li><i class="fal fa-user"></i> Profile</li>
        <li><i class="fal fa-cloud-upload-alt"></i> Upload</li>
        <li><i class="fal fa-cog"></i> Settings</li>
    </ul>
    <i class="fal fa-arrow-alt-to-left"></i>
</div>